<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="server=DESKTOP-FFKFKVB;uid=sa;pwd=Test123;database=TelImenik;Connect Timeout=200; Min Pool Size=30"/>
    <add key="imenikHRLink" value="http://www.imenik.hr/imenik"/>
    <add key="imenikHRWSNumberOfThreads" value="4"/>
    <add key="imenikHRWSleepTimeBetweenThreads" value="2000"/>
    <add key="proxyServerListFilePath" value="G:\Programiranje\Repos\TelefonskiImenik\TelImenikWebScraper\bin\Debug\netcoreapp2.1\ProxyServerList.txt"/>
    <add key="userAgentList" value="G:\Programiranje\Repos\TelefonskiImenik\TelImenikWebScraper\bin\Debug\netcoreapp2.1\UserAgentList.txt"/>
  </appSettings>
</configuration>