<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connectionstring" value="server=BRUNOM\SQL2016;uid=sa;pwd=Test12345;database=Imenik;Connect Timeout=200; Min Pool Size=30"/>
    <add key="imenikHRLink" value="http://www.imenik.hr/imenik"/>
    <add key="imenikHRWSNumberOfThreads" value="1"/>
    <add key="imenikHRWSleepTimeBetweenThreads" value="2000"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>